@model BasicMvcApplication.SampleData

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<fieldset>
    <legend>SampleData</legend>

	<div class="">
		@if (ViewData["CacheMiss"] == null)
  {
	  <h1>Found in Cache</h1>
  }
		else
		{
		<h1>
			<span style="color:red;">Not</span> found in cache.
		</h1>
		}
	</div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

	<div class="display-label">
         @Html.DisplayNameFor(model => model.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
